fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
pydantic==2.8.2
python-multipart==0.0.9

langchain-community==0.2.12
langchain-text-splitters==0.2.2
chromadb==0.5.5
sentence-transformers==3.0.1

google-genai==0.3.0
